<<<<<<< HEAD
<%- include('../../partials/_header.ejs') 
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css ">
    <title>SkinCare</title>
</head>
<body>
    <div id="accueil">
        <h1>SkinCare</h1>
       <div id="nav">
        <nav>
            <a href="accueil.ejs">Nos produits</a>
            <a href="about.ejs">A propos de nous</a>
            <a href="contact.ejs">Nous contacter</a>
            <a href="contactResponse.ejs">FAQ</a>
            <a href="news.ejs">Niews</a>
        </nav>
       </div>
    </div>
    
    <!-- <div class="img--container">
        <img src="images/img1.jpg" alt="first">
    </div> -->
</body>
</html>
>>>>>>> 4042c3454bc69c012e2f87491e36eb95ed05045f
